section div {
  position: absolute;
  text-align: center;
  width: 75%;
}

section div h1 {
  color: #31352f;
  font-size: 60px;
  line-height: 65px;
  text-shadow: 2px 3px 5px grey;
  text-transform: uppercase;
  margin: 50px 0;
}

section div h2 {
  color: #31352f;
  font-size: 40px;
  text-shadow: 2px 3px 5px grey;
  margin: 125px 0 0 0;
}
